@media screen and (max-width: 767px) {
    .popular-blog{
        padding:0 0 3em;
        .float-left {
            width: 100%;
        }
        img{
            width: 100%;
        }
    }

    
}